{%- extends "layout.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{ recipe.title.decode('utf-8') }}</h2>
            <p>{{ recipe.description.decode('utf-8')|safe }}</p>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('edit_recipe', id=recipe.id)}}">Edit</a>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('get_delete_recipe', id=recipe.id)}}">Delete</a>
        </div>
    </div>
</div>
{%- endblock %}